<h2>
   AngularDeck running...
</h2>
<div class="buttonComponent">
   <ul class="buttonSet">
      <li *ngFor="let button of buttons" (click)="doAction(button)" class="button"
          [class.selected]="button === selectedButton">
         <img *ngIf="button.image != 'missing.png'" width="60" src="file:///{{ button.image }}"/>
         <img *ngIf="button.image == 'missing.png'" width="60" src="/assets/img/missing.png"/>
         <img class="badge button-{{button.type}}"/>
      </li>
   </ul>
</div>
