<div style="text-align:center">
   <h1>
      <span>Angular</span>Deck
   </h1>
</div>
<nav>
   <a routerLink="/layout" routerLinkActive="active">Layout</a>
   <a routerLink="/run" routerLinkActive="active">Run</a>
   <a routerLink="/config" routerLinkActive="active">Config</a>
</nav>
<div class="toast-box">
   <div *ngIf="!obs.connected" class="toast-message">
      <span>OBS Connection not found. Please update your configuration and click connect.</span>
      <div (click)="connectOBS()" class="button">CONNECT</div>
   </div>
   <!--<div *ngIf="!arduino.connected" class="toast-message">-->
      <!--<span>An Arduino Connection was not found. Please plug in an arduino and click connect.</span>-->
      <!--<div (click)="connectArduino()" class="button">CONNECT</div>-->
   <!--</div>-->
</div>
<div class="app-block">
   <router-outlet></router-outlet>
</div>
