@font-face {
    font-family: 'Bitstream';
    src:url('../assets/fonts/Bitstream-Vera-Sans-Mono-Bold.ttf.woff') format('woff'),
    url('../assets/fonts/Bitstream-Vera-Sans-Mono-Bold.ttf.svg#Bitstream-Vera-Sans-Mono-Bold') format('svg'),
    url('../assets/fonts/Bitstream-Vera-Sans-Mono-Bold.ttf.eot'),
    url('../assets/fonts/Bitstream-Vera-Sans-Mono-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


.badge.button-0 {
    background-image: url('../assets/img/toggle-off.png');
}

.badge.button-1 {
    background-image: url('../assets/img/toggle-on.png');
}

.badge.button-2 {
    background-image: url('../assets/img/play-circle-o.png');
}

.badge.button-3 {
    background-image: url('../assets/img/folder-open-o.png');
}

nav {
    max-width: 640px;
    display: block;
    margin: 8px auto 16px;
}

nav a {
    background: rgb(135, 172, 183);
    border-radius: 4px;
    margin: 0px 4px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: rgba(148, 185, 196, 0.85);
}

nav a:visited {
    color: white;
}

h1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

h1 span {
    color: #00979d;
    font-family: 'Bitstream';
}

.toast-box {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 12px;
    color: white;
    -webkit-font-smoothing: antialiased;
    clear: both;
}

.toast-message {
    text-align: right;
    border-radius: 4px;
    border: 1px solid #385253;
    box-shadow: 1px 1px 1px black;
    margin: 6px;
    max-width: 200px;
    padding: 8px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: #328783;
}

.toast-message span {
    text-align: left;
    display: block;
}

.toast-message .button {
    border-radius: 4px;
    margin: 5px auto;
    display: inline-block;
    background: #156c37;
    padding: 4px 8px;
    cursor: pointer;
}

.toast-message .button:hover {
    background: #1e994e;
}
