/* You can add global styles to this file, and also import other style files */

.app-block {
    max-width: 920px;
    min-width: 920px;
    display: block;
    margin: 0 auto;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
}

.draggable:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.draggable:active, .highlight {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.float-right {
    display: inline-block;
    float: right;
}

.button-ui {
    padding: 1px 4px;
    border-radius: 2px;
}

.button-delete {
    background-color: #b93b37;
}

.button-ui:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 1px 2px rgba(72, 72, 72, 0.8);
    -moz-box-shadow: 0px 1px 1px 2px #545454;
    box-shadow: 0px 1px 1px 2px #414141;
}
